In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [29]:
dataset = pd.read_csv('Amazon_Unlocked_Mobile.csv')

In [4]:
dataset.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0

In [5]:
dataset.isnull().sum()

Product Name        0
Brand Name      65171
Price            5933
Rating              0
Reviews            62
Review Votes    12296
dtype: int64

In [6]:
# Since we are doing sentiment analysis. Hence we required only two features ‘Rating’ and ‘Review’.

In [30]:
dataset = dataset[['Rating','Reviews']]

In [9]:
dataset

        Rating                                            Reviews
0            5  I feel so LUCKY to have found this used (phone...
1            4  nice phone, nice up grade from my pantach revu...
2            5                                       Very pleased
3            4  It works good but it goes slow sometimes but i...
4            4  Great phone to replace my lost phone. The only...
...        ...                                                ...
413835       5                     another great deal great price
413836       3                                                 Ok
413837       5        Passes every drop test onto porcelain tile!
413838       3  I returned it because it did not meet my needs...
413839       4  Only downside is that apparently Verizon no lo...

[413840 rows x 2 columns]

In [10]:
dataset.isnull().sum()

Rating      0
Reviews    62
dtype: int64

In [31]:
dataset.dropna(inplace=True)

In [12]:
dataset.isnull().sum()

Rating     0
Reviews    0
dtype: int64

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413778 entries, 0 to 413839
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Rating   413778 non-null  int64
 1   Reviews  413778 non-null  object
dtypes: int64(1), object(1)
memory usage: 9.5+ MB

In [14]:
# Now According to rating we will create there labels,
# Negative(for 1 & 2 Rating), Neutral(for 3 Rating) and Positive (for 4,& 5 Rating).

In [33]:
def Labelfunc(rating):
    if rating >= 4:
        return 'Positive'
    elif rating <= 2:
        return "Negative"
    else:
        return 'Neutral'

In [34]:
dataset['Rating Labels'] = dataset['Rating'].apply(Labelfunc)

In [17]:
dataset.head()

   Rating                                            Reviews Rating Labels
0       5  I feel so LUCKY to have found this used (phone...      Positive
1       4  nice phone, nice up grade from my pantach revu...      Positive
2       5                                       Very pleased      Positive
3       4  It works good but it goes slow sometimes but i...      Positive
4       4  Great phone to replace my lost phone. The only...      Positive

## Data Cleaning And Text Preprocessing

In [19]:
# 1.Removing URL

In [35]:
# Importing library 're' for removing url,numbers,punctuation
import re
def clean_url(review_text):
    return re.sub(r'http\S+','',review_text)

dataset['CleanReview'] = dataset['Reviews'].apply(clean_url)

In [36]:
dataset

,Rating,Reviews,Rating Labels,CleanReview
0,5,I feel so LUCKY to have found this used (phone...,Positive,I feel so LUCKY to have found this used (phone...
1,4,"nice phone, nice up grade from my pantach revu...",Positive,"nice phone, nice up grade from my pantach revu..."
2,5,Very pleased,Positive,Very pleased
3,4,It works good but it goes slow sometimes but i...,Positive,It works good but it goes slow sometimes but i...
4,4,Great phone to replace my lost phone. The only...,Positive,Great phone to replace my lost phone. The only...
...,...,...,...,...
413835,5,another great deal great price,Positive,another great deal great price
413836,3,Ok,Neutral,Ok
413837,5,Passes every drop test onto porcelain tile!,Positive,Passes every drop test onto porcelain tile!
413838,3,I returned it because it did not meet my needs...,Neutral,I returned it because it did not meet my needs...
413839,4,Only downside is that apparently Verizon no lo...,Positive,Only downside is that apparently Verizon no lo...

In [22]:
# Removing all irrelevant characters (Numbers and Punctuation)

In [37]:
def clean_non_alphanumeric(review_text):
    return re.sub('[^a-zA-Z]',' ',review_text)

dataset['CleanReview'] = dataset['CleanReview'].apply(clean_non_alphanumeric)

In [38]:
dataset.head()

,Rating,Reviews,Rating Labels,CleanReview
0,5,I feel so LUCKY to have found this used (phone...,Positive,I feel so LUCKY to have found this used phone...
1,4,"nice phone, nice up grade from my pantach revu...",Positive,nice phone nice up grade from my pantach revu...
2,5,Very pleased,Positive,Very pleased
3,4,It works good but it goes slow sometimes but i...,Positive,It works good but it goes slow sometimes but i...
4,4,Great phone to replace my lost phone. The only...,Positive,Great phone to replace my lost phone The only...

In [39]:
# Converting all to lowercase
def clean_lowercase(review_text):
    return str(review_text).lower()

dataset['CleanReview'] = dataset['CleanReview'].apply(clean_lowercase)

In [40]:
dataset.head()

,Rating,Reviews,Rating Labels,CleanReview
0,5,I feel so LUCKY to have found this used (phone...,Positive,i feel so lucky to have found this used phone...
1,4,"nice phone, nice up grade from my pantach revu...",Positive,nice phone nice up grade from my pantach revu...
2,5,Very pleased,Positive,very pleased
3,4,It works good but it goes slow sometimes but i...,Positive,it works good but it goes slow sometimes but i...
4,4,Great phone to replace my lost phone. The only...,Positive,great phone to replace my lost phone the only...

In [4]:
from datetime import datetime
datetime.now()

datetime.datetime(2021, 5, 15, 8, 14, 3, 467114)